/* slide styles */
.ft-section {

}

.flowtime .slide {
  background-image: url("../../img/concrete_seamless.png");
  background-repeat: repeat;
}


/* slide-head */
.flowtime .slide-head {
  background-color: black;
  background-image: url("../../img/binding_dark_@2X.png");
}
.flowtime .slide-head h1{
  color: #ffffff;
}
.flowtime .slide-head h3 {
  color: white;
}
.flowtime .slide-head strong {
  color: #ffdd00;
}

.flowtime .slide-title {
  text-align: center;
  line-height: 100%;
}


/* extras */
.slide-note {
  float: right;
}

.btn {
  vertical-align: top;
  width: 100px;
  height: 60px;
  padding: 0;
  font-size: 22px;
  color: white;
  text-align: center;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.25);
  background: #2980b9;
  border: 0;
  border-bottom: 2px solid #2475ab;
  cursor: pointer;
  -webkit-box-shadow: inset 0 -2px #2475ab;
  box-shadow: inset 0 -2px #2475ab;
}

.btn:hover {
  background: #3cb0fd;
  background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
  background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
  text-decoration: none;
}

.onePointX {
  color: #2980b9;
}

.extra {
  font-family: "BebasNeue Light";
  float: left;
}

.img-centered {
  margin: 0 auto;
}

.help-btn {
  float: right;
  vertical-align: top;
  width: 35px;
  height: 35px;
  padding: 0;
  font-size: 22px;
  color: white;
  text-align: center;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.25);
  background: darkorange;
  border: 0;
  border-radius: 25px;
  border-bottom: 2px solid darkgoldenrod;
  cursor: pointer;
  /*-webkit-box-shadow: inset 0 -2px #2475ab;*/
  /*box-shadow: inset 0 -2px #2475ab;*/
}

.help-btn:hover {
  background: orange;
  background-image: -webkit-radial-gradient(16px at 60px 50% , darkgoldenrod 0%, darkgoldenrod 14px, rgba(0, 0, 0, 0.3) 18px, rgba(0, 0, 0, 0) 19px);
  background-image: -moz-radial-gradient(16px at 60px 50% , darkgoldenrod 0%, darkgoldenrod 14px, rgba(0, 0, 0, 0.3) 18px, rgba(0, 0, 0, 0) 19px);
  background-image: -ms-radial-gradient(16px at 60px 50% , darkgoldenrod 0%, darkgoldenrod 14px, rgba(0, 0, 0, 0.3) 18px, rgba(0, 0, 0, 0) 19px);
  background-image: -o-radial-gradient(16px at 60px 50% , darkgoldenrod 0%, darkgoldenrod 14px, rgba(0, 0, 0, 0.3) 18px, rgba(0, 0, 0, 0) 19px);
  background-image: radial-gradient(16px at 60px 50% , darkgoldenrod 0%, darkgoldenrod 14px, rgba(0, 0, 0, 0.3) 18px, rgba(0, 0, 0, 0) 19px);
  text-decoration: none;
}

.recommended a {
  color: darkorange !important;
}
