<!DOCTYPE HTML>
<!--[if IE 6]>
<html id="ie6" lang="en-US" class="ie ie6 lt-ie9">
<![endif]-->
<!--[if IE 7]>
<html id="ie7" lang="en-US" class="ie ie7 lt-ie9">
<![endif]-->
<!--[if IE 8]>
<html id="ie8" lang="en-US" class="ie ie8 lt-ie9">
<![endif]-->
<!--[if gte IE 9]>
<html lang="en-US" class="ie ie9">
<![endif]-->
<!--[if !(IE)]><!-->
<html lang="en-US" class="">
<!--<![endif]-->
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="initial-scale=1.0 minimal-ui">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="author" content="shmck">

  <meta property="og:title" content="Try Angular 2">
  <meta property="og:type" content="website">
  <meta property="og:url" content="tryangular2.github.io">
  <meta property="og:image" content="https://github.com/ShMcK/ng2Challenges/blob/master/ng2Challenges.png">
  <meta property="og:site_name" content="Try Angular 2">

  <meta name="twitter:card" content="summary">
  <meta name="twitter:url" content="http://tryangular2.github.io">
  <meta name="twitter:title" content="Try Angular 2">
  <meta name="twitter:description"
        content="Intro to Angular 2 with interactive examples">
  <meta name="twitter:image" content="https://github.com/ShMcK/ng2Challenges/blob/master/ng2Challenges.png">
  <meta name="twitter:creator" content="@Sh_McK">

  <meta name="description"
        content="Intro to Angular 2 with interactive examples">

  <title>Try Angular 2</title>
  <link rel="stylesheet" href="assets/css/reset.css">
  <link rel="stylesheet" href="css/flowtime.css">
  <link rel="stylesheet" href="css/themes/shmck.css"/>
  <link rel="stylesheet" href="css/themes/shmck-slides.css"/>
  <link rel="stylesheet" href="assets/css/prism.css">

  <link rel="apple-touch-icon-precomposed" href="img/touch-icon-iphone.png">
  <link rel="apple-touch-icon-precomposed" sizes="72x72" href="img/touch-icon-ipad.png">
  <link rel="apple-touch-icon-precomposed" sizes="114x114" href="img/touch-icon-iphone-retina.png">
  <link rel="apple-touch-icon-precomposed" sizes="144x144" href="img/touch-icon-ipad-retina.png">

  <link rel="apple-touch-startup-image" href="img/startup-640x920.png"
        media="(device-width: 320px) and (device-height: 480px) and (-webkit-device-pixel-ratio: 2)">
  <link rel="apple-touch-startup-image" href="img/startup-640x1096.png"
        media="(device-width: 320px) and (device-height: 568px) and (-webkit-device-pixel-ratio: 2)">

</head>
<body class="">

<div class="flowtime">
  <div class="ft-section" data-id="section-1">
    <!-- 1/1 -->
    <div id="/section-1/page-1" class="ft-page slide-head slide-title" data-id="page-1">
      <img src="img/angular-shield.png" height="240px" width="200px" style="margin: 0 auto;"/>
      <!--<img src="img/tring.png" height="240px" width="240px" alt="Try Angular" style="margin: 0 auto;"/>-->
      <h1>Try <strong>Angular 2</strong></h1>

      <h3 style="font-family: 'BebasNeue Light', sans-serif">- Alpha-20 -</h3>
      <h3 style="color: #2475ab"><a target="_blank" href="http://www.meetup.com/Angular-Korea-Meetup/events/222013822/">
        Angular Korea Meetup</a></h3>

      <h3 style="color: #2475ab">May 2nd, <a target="_blank"
                      href="https://www.google.com/maps/place/%EB%A6%AC%EB%B3%B5+%ED%81%AC%EB%A1%9C%EC%8A%A4%ED%95%8F+%EC%84%BC%ED%8B%B0%EB%84%90+%EC%97%85%ED%83%80%EC%9A%B4+(Reebok+CrossFit+Sentinel+Uptown)/@37.50631,127.063576,17z/data=!3m1!4b1!4m2!3m1!1s0x357ca416599e3f69:0xa40a6a7803a3cd73">Google
        Campus Seoul</a></h3>
      <a href="https://twitter.com/Sh_McK" class="twitter-follow-button" data-show-count="false">Follow @Sh_McK</a>
      <script>!function (d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0], p = /^http:/.test(d.location) ? 'http' : 'https';
        if (!d.getElementById(id)) {
          js = d.createElement(s);
          js.id = id;
          js.src = p + '://platform.twitter.com/widgets.js';
          fjs.parentNode.insertBefore(js, fjs);
        }
      }(document, 'script', 'twitter-wjs');</script>
    </div>
  </div>
  <div class="ft-section" data-id="section-2">
    <!-- 2/1 -->
    <div id="/section-3/page-1" class="ft-page slide" data-id="page-2">
      <h1><a href="https://angular.io/features.html" target="_blank">Change</a> is <strong>Good</strong></h1>
      <iframe src="https://angular.io/features.html" height="100%" width="100%"></iframe>
      <!--<a href="https://angular.io/features.html">-->
      <!--<img src="img/Angulariofeatures.png" target="_blank" alt="Angular2Features" height="100%" width="100%" />-->
      <!--</a>-->
    </div>
    <div id="/section-3/page-2" class="ft-page slide" data-id="page-2">
      <h2>Collaboration & Sharing</h2>
      <br><br>
      <div style="display: flex; justify-content: space-around;">
        <div>
          <img src="img/react.png" height="100px" width="100px" alt="React"/>
          <h3><a href="https://docs.google.com/document/d/1QZxArgMwidgCrAbuSikcB2iBxkffH6w0YB0C1qCsuH0/edit" target="_blank">React</a></h3>
          <ul>
            <li>Package Manager</li>
            <li>Tools</li>
          </ul>
        </div>
        <div>
          <img src="img/ember.png" height="100px" width="100px" alt="Ember"/>
          <h3>Ember</h3>
          <ul>
            <li>Router</li>
            <li>Ember-cli</li>
          </ul>
        </div>
        <div>
          <img src="img/ts.png" height="100px" width="100px" alt="TypeScript"/>
          <h3><a href="http://techcrunch.com/2015/03/05/microsoft-and-google-collaborate-on-typescript-hell-has-not-frozen-over-yet/" target="_blank">TypeScript</a></h3>
          <ul>
            <li>@Annotations</li>
            <li>ES6, ES7</li>
          </ul>
        </div>
      </div>
    </div>
    <div id="/section-3/page-3" class="ft-page slide" data-id="page-2">
      <h2>Web Standards</h2>
      <br><br>
      <div style="display: flex; justify-content: space-around;">
        <div>
          <h3><a href="http://webcomponents.org" target="_blank">Web Components</a></h3>
          <ul>
            <li>HTML Imports</li>
            <li>&lttemplate&gt</li>
            <li>Shadow DOM</li>
          </ul>
        </div>
        <div>
          <h3>ES6+</h3>
          <ul>
            <li>Imports</li>
            <li>Classes</li>
            <li>Observables</li>
            <li>More</li>
          </ul>
        </div>
        <div>
          <h3>Less Framework Specific</h3>
          <ul style="text-decoration: line-through">
            <li>Factory, Service, Constant, etc.</li>
            <li>Link, Compile, Controller</li>
            <li>$scope, ng-everything</li>
          </ul>
        </div>
      </div>
    </div>
    <div id="/section-3/page-4" class="ft-page slide" data-id="page-2">
      <h2>Split in Two:</h2>
      <div style="display: flex; justify-content: center; align-content: center;">
        <div style="align-self: center">
          <h2 style="text-align: center;"><strong>Application</strong><br> Layer</h2>
        </div>
        <img src="img/angular-shield.png" height="240px" width="200px"/>
        <div style="align-self: center;">
          <h2 style="text-align: center;"><strong>View</strong><br> Layer</h2>
        </div>
      </div>
      <br>
      <br>
      <h3 style="margin: 0 auto; text-align: center"><a href="https://docs.google.com/document/d/1M9FmT05Q6qpsjgvH1XvCm840yn2eWEg0PMskSQz7k4E/edit">Resulting Awesomeness:</a>
      Web Workers  |  Server Rendering  |  Native Apps  |  Better Change Detection | Easier Testing</h3>
    </div>
  </div>
  <div class="ft-section" data-id="section-3">
    <!-- 3/1 -->
    <div id="/section-2/page-1" class="ft-page slide" data-id="page-3">
      <h1>ng2 <strong>Setup</strong></h1>
      <br>
      <div style="display: flex; justify-content: space-around;">

        <div>
          <h2>Boilerplates</h2>
          <ul>
            <li class="recommended"><a href="http://t.co/VeEevfiR4c" target="_blank">Plunker</a></li>
            <li><a href="https://github.com/pkozlowski-opensource/ng2-play" target="_blank">ng2-play</a></li>
            <li><a href="https://github.com/swirlycheetah/generator-angular2" target="_blank">Yeoman Generator</a></li>
            <li><a href="https://github.com/thevelourfog/slush-angular2" target="_blank">Slush Generator</a></li>
            <li><a href="https://github.com/gdi2290/angular2-webpack-seed" target="_blank">Webpack</a></li>
            <li><a href="https://github.com/htdt/ng2-jspm" target="_blank">JSPM</a></li>
          </ul>
        </div>
        <div>
          <h2>Compilers</h2>
          <ul>
            <li class="recommended"><a href="babel.io">Babel</a> + <a
                href="https://github.com/shuhei/babel-plugin-angular2-annotations" target="_blank">Annotations</a></li>
            <li><a href="https://github.com/Microsoft/TypeScript" target="_blank">TypeScript 1.5-alpha</a></li>
            <li><a href="https://github.com/google/traceur-compiler" target="_blank">Traceur</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="ft-section" data-id="section-4">
    <!-- 4/1 -->
    <div id="/section-4/page-1" class="ft-page slide-head slide-title" data-id="page-4">
      <h1>Project: <a href="http://todomvc.com/examples/angularjs-perf/#/" target="_blank"><strong>Todo</strong>MVC</a>
      </h1>
      <a href="http://todomvc.com/examples/angularjs-perf/#/" target="_blank" alt="TodoMVC Angular">
        <img src="img/TodoMVC.png" alt="TodoMVCAngular" style="margin: 0 auto;"/>
      </a>
    </div>
    <!-- 4/2 -->
    <div id="/section-4/page-2" class="ft-page slide" data-id="page-5">
      <a href="https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Statements/import" target="_blank">
        <button class="help-btn">?</button>
      </a>

      <h2>ES6 Modules</h2>
      <label>/main.es6.js</label>
      <pre><code class="language-javascript">
        import {bootstrap, Component, View} from 'angular2/angular2';
      </code></pre>
      <p class="extra">angular.module('app', <span class="onePointX">['Dependency']</span>)</p>
      <a class="slide-note" href="http://plnkr.co/edit/QV3kaf?p=preview" target="_blank">
        <button class="btn">Demo</button>
      </a>
    </div>
    <!-- 4/3 -->
    <div id="/section-4/page-3" class="ft-page slide" data-id="page-6">
      <a href="https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Classes" target="_blank">
        <button class="help-btn">?</button>
      </a>

      <h2>ES6 Classes</h2>
      <label>/main.es6.js</label>
      <pre><code class="language-javascript">
        class TodoApp {}
      </code></pre>
      <p class="onePointX extra">Directive Controller</p>
    </div>
    <!-- 4/4 -->
    <div id="/section-4/page-4" class="ft-page slide" data-id="page-6">
      <a href="https://angular.io/docs/js/latest/api/annotations/Component-class.html" target="_blank">
        <button class="help-btn">?</button>
      </a>

      <h2>@Component</h2>
      <label>/main.es6.js</label>
      <pre><code class="language-javascript">
        @Component({
          selector: 'todo-app’
        })
        class TodoApp {}
      </code></pre>
      <p class="onePointX extra">Directive with template + Controller</p>
    </div>
    <!-- 4/5 -->
    <div id="/section-4/page-5" class="ft-page slide" data-id="page-9">
      <a href="https://angular.io/docs/js/latest/api/annotations/View-class.html" target="_blank">
        <button class="help-btn">?</button>
      </a>

      <h2>@View</h2>
      <label>/main.es6.js</label>
      <pre><code class="language-javascript">
        @Component({ ... })
        @View({
          template: `&lth1&gt{{title}}&lt/h1&gt` // or:
          //templateUrl: 'todos.html'
        })
        class TodoApp { ... }
      </code></pre>
      <p class="extra onePointX">Directive Template/TemplateUrl</p>
    </div>
    <!-- 4/6 -->
    <div id="/section-4/page-6" class="ft-page slide" data-id="page-7">
      <a href="https://angular.io/docs/js/latest/api/core/bootstrap-function.html" target="_blank">
        <button class="help-btn">?</button>
      </a>

      <h2>bootstrap(<span class="onePointX">class</span>)</h2>
      <label>/main.es6.js</label>
      <pre><code class="language-javascript">
        @Component({ selector: 'todo-app’ })
        @View({ template: `&lth1&gt{{title}}&lt/h1&gt` })
        class TodoApp {}

        bootstrap(TodoApp);
      </code></pre>
      <br>
      <label>/index.html</label>
      <pre><code class="language-markup">
        &lttodo-app&gt&lt/todo-app&gt
      </code></pre>
      <a class="slide-note" href="http://plnkr.co/edit/Nl3vAS?p=preview" target="_blank">
        <button class="btn">Demo</button>
      </a>
      <div class="extra">
        <p>angular.module(<span class="onePointX">'app'</span>, ['Dependency'])</p>

        <p>&ltbody <span class="onePointX">ng-app="todo-app"</span>&gt</p>
      </div>
    </div>
    <!-- 4/7 -->
    <div id="/section-4/page-7" class="ft-page slide" data-id="page-8">
      <a href="https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Classes/constructor" target="_blank">
        <button class="help-btn">?</button>
      </a>

      <h2>Class Constructor</h2>
      <label>/main.es6.js</label>
      <pre><code class="language-javascript">
        @Component({ selector: 'todo-app’ })
        class TodoApp {
          // initial values
          constructor() {
            this.todos = ['First thing', 'Second thing', 'Third thing'];
          }
        }
      </code></pre>
      <p class="extra onePointX">Controller</p>
    </div>
    <!-- 4/8 -->
    <div id="/section-4/page-8" class="ft-page slide" data-id="page-11">
      <h2>Class Methods</h2>
      <label>/storage.es6.js</label>
      <pre><code class="language-javascript">
        export class TodoStorage {
          // initial values
          constructor () {
            this.STORAGE_ID = 'todos-angular2';
          }

          // methods
          get() {
            return JSON.parse(localStorage.getItem(this.STORAGE_ID) || '[]');
          }
          put(todos) {
            localStorage.setItem(this.STORAGE_ID, JSON.stringify(todos));
          }
        }
      </code></pre>
      <p class="extra onePointX">Singletons: Controller, Service, Factory, Directive</p>
    </div>
    <!-- 4/9 -->
    <div id="/section-4/page-9" class="ft-page slide" data-id="page-12">
      <a href="https://angular.io/docs/js/latest/api/di_annotations/Inject-class.html" target="_blank">
        <button class="help-btn">?</button>
      </a>

      <h2>Inject Services</h2>
      <label>/main.es6.js</label>
      <pre><code class="language-javascript">
        import {TodoStorage} from 'todoStorageService';

        @Component({
          selector: 'todo-app',
          injectables: [ TodoStorage ]
        })
        class TodoApp {
          constructor(storage: TodoStorage) {
            this.todos = storage.get() || [];
          }
        }
      </code></pre>
      <p class="extra onePointX">function TodoCtrl(TodoStorageService) {}</p>
      <a class="slide-note" href="http://plnkr.co/edit/fJDgTB?p=preview" target="_blank">
        <button class="btn">Demo</button>
      </a>
    </div>
  </div>
  <div class="ft-section" data-id="section-5">
    <!-- 5/1 -->
    <div id="/section-5/page-1" class="ft-page slide-head slide-title" data-id="page-13">
      <h1><strong>Template</strong> Syntax</h1>
    </div>
    <!-- 5/2 -->
    <div id="/section-5/page-2" class="ft-page slide" data-id="page-14">
      <h2>#Local Variables</h2>
      <label>/todos.html</label>
       <pre><code class="language-markup">
         &ltinput #new-todo&gt
       </code></pre>
      <a class="slide-note" href="http://plnkr.co/edit/fJDgTB?p=preview" target="_blank">
        <button class="btn">Demo</button>
      </a>
      <br/>

      <p class="extra onePointX">ng-init</p>
    </div>
    <!-- 5/3 -->
    <div id="/section-5/page-3" class="ft-page slide" data-id="page-15">
      <a href="https://angular.io/docs/js/latest/guide/displaying-data.html" target="_blank">
        <button class="help-btn">?</button>
      </a>

      <h2>{{ binding }}</h2>
      <label>/todos.html</label>
      <pre><code class="language-markup">
        &ltinput #new-todo /&gt
        &ltp&gt{{newTodo.value}}&lt/p&gt
      </code></pre>
      <a class="slide-note" href="http://plnkr.co/edit/7QzS2l?p=preview" target="_blank">
        <button class="btn">Demo</button>
      </a>
    </div>
    <!-- 5/4 -->
    <div id="/section-5/page-4" class="ft-page slide" data-id="page-16">
      <a href="https://angular.io/docs/js/latest/guide/user-input.html" target="_blank">
        <button class="help-btn">?</button>
      </a>

      <h2>(event)="statement"</h2>
      <label>/todos.html</label>
      <pre><code class="language-markup">
        &ltinput #new-todo (keydown)&gt
      </code></pre>
      <br>
      <label>/todos.html</label>
      <pre><code class="language-markup">
        &ltinput #new-todo (keydown)=“addTodo($event, newTodo.value)”&gt
      </code></pre>
      <p class="extra onePointX">ng-keydown=($event, newTodo)</p>
      <a class="slide-note" href="http://plnkr.co/edit/H6FJUo?p=preview" target="_blank">
        <button class="btn">Demo</button>
      </a>
    </div>
    <!-- 5/5 -->
    <div id="/section-5/page-5" class="ft-page slide" data-id="page-17">
      <h2>ng-*<span class="stress"> => </span>(event)</h2>
      <ul>
        <li>ng-click<span class="stress"> => </span>(click)</li>
        <li>ng-dblclick<span class="stress"> => </span>(dblclick)</li>
        <li>ng-keydown<span class="stress"> => </span>(keydown)</li>
        <li>ng-keyup<span class="stress"> => </span>(keyup)</li>
        <li>ng-mouseover<span class="stress"> => </span>(mouseover)</li>
        <li>ng-mouseenter<span class="stress"> => </span>(mouseenter)</li>
        <li>ng-mouseleave<span class="stress"> => </span>(mouseleave)</li>
      </ul>
    </div>
    <!-- 5/6 -->
    <div id="/section-5/page-6" class="ft-page slide" data-id="page-18">
      <h2>[property]="expression"</h2>
      <label>/todos.html</label>
      <pre><code class="language-markup">
        &ltul&gt
          &ltli [style.background-color]=“newTodo.value”&gt
            {{newTodo.value}}
          &lt/li&gt
        &lt/ul&gt
      </code></pre>
      <p class="extra onePointX"> ng-style="{'background-color':newTodo}"></p>
      <a class="slide-note" href="http://plnkr.co/edit/OEWHs1?p=preview" target="_blank">
        <button class="btn">Demo</button>
      </a>
    </div>
    <!-- 5/7 -->
    <div id="/section-5/page-7" class="ft-page slide" data-id="page-19">
      <h2>ng-*<span class="stress"> => </span>[property]</h2>
      <ul>
        <li>ng-src<span class="stress"> => </span>[src]</li>
        <li>ng-href<span class="stress"> => </span>[href]</li>
        <li>ng-show<span class="stress"> => </span>[visible]</li>
        <li>ng-hide<span class="stress"> => </span>[hidden]</li>
        <li>ng-style="color: red"<span class="stress"> => </span>[style.color]="red"</li>
        <li>ng-class="name"<span class="stress"> => </span>[class.name]</li>
        <li>ng-class={'name': condition}<span class="stress"> => </span>[class.name]="condition"</li>
      </ul>
    </div>
  </div>
  <div class="ft-section" data-id="section-6">
    <!-- 6/1 -->
    <div id="/section-6/page-1" class="ft-page slide-head slide-title" data-id="page-20">
      <h1>Built-in <strong>Directives</strong></h1>
    </div>
    <!-- 6/2 -->
    <div id="/section-6/page-2" class="ft-page slide" data-id="page-21">
      <h2>For</h2>
      <label>/main.es6.js</label>
      <pre><code class="language-javascript">
        import {bootstrap, Component, View, For} from 'angular2/angular2';

        @View({
          templateUrl: 'todos.html’,
          directives: [For]
        })
        class TodoApp{
          constructor() {
            this.todos = [‘first thing’, ‘second thing’, ‘third thing’];
          }
        }
      </code></pre>
    </div>
    <!-- 6/3 -->
    <div id="/section-6/page-3" class="ft-page slide" data-id="page-22">
      <a href="https://angular.io/docs/js/latest/api/directives/For-class.html" target="_blank">
        <button class="help-btn">?</button>
      </a>

      <h2>*for="#item of items"</h2>
      <label>/todos.html</label>
      <pre><code class="language-markup">
        &ltul *for=“#todo of todos”&gt
          &ltli&gt
            &ltp&gt{{todo}}&lt/p&gt
          &lt/li&gt
        &lt/ul&gt
      </code></pre>
      <p class="extra onePointX">ng-repeat="todo in vm.todos"</p>
      <a class="slide-note" href="http://plnkr.co/edit/nBJJSJ?p=preview" target="_blank">
        <button class="btn">Demo</button>
      </a>
    </div>
    <!-- 6/4 -->
    <div id="/section-6/page-4" class="ft-page slide" data-id="page-23">
      <h2>index</h2>
      <label>/todos.html</label>
    <pre><code class="language-markup">
      &ltul *for=“#todo of todos; var i = index;”&gt
        &ltli&gt
          &ltp&gt{{i}}. {{todo}}&lt/p&gt
        &lt/li&gt
      &lt/ul&gt
    </code></pre>
      <p class="extra onePointX">ng-repeat="todo in vm.todos track by $index"></p>
      <a class="slide-note" href="http://plnkr.co/edit/SHfTLu?p=preview" target="_blank">
        <button class="btn">Demo</button>
      </a>
    </div>
    <!-- 6/5 -->
    <div id="/section-6/page-5" class="ft-page slide" data-id="page-24">
      <h2>If</h2>
      <label>/main.es6.js</label>
      <pre><code class="language-javascript">
        import {bootstrap, Component, View, For, If} from 'angular2/angular2';

        @View({
          templateUrl: 'todos.html’,
          directives: [For, If]
        })
        Class TodoApp{}
      </code></pre>
    </div>
    <!-- 6/6 -->
    <div id="/section-6/page-6" class="ft-page slide" data-id="page-25">
      <a href="https://angular.io/docs/js/latest/api/directives/If-class.html" target="_blank">
        <button class="help-btn">?</button>
      </a>

      <h2>*if="condition"</h2>
      <label>/todos.html</label>
      <pre><code class="language-markup">
        &ltul *for=“#todo of todos; var i = index;”&gt
          &ltli&gt
            &ltp&gt{{index}}. {{todo.title}}&lt/p&gt
          &lt/li&gt
          &ltform *if="isEdit(i)"&gt
            &ltp (dblclick)="doneEditing(todo)"&gtEdit me!&lt/p&gt
          &lt/form&gt
        &lt/ul&gt
      </code></pre>
      <p class="extra onePointX">ng-if="vm.currentIndex === $index"></p>
      <a class="slide-note" href="http://plnkr.co/edit/DvRkC3?p=preview" target="_blank">
        <button class="btn">Demo</button>
      </a>
    </div>
  </div>
  <div class="ft-section" data-id="section-7">
    <!-- 7/1 -->
    <div id="/section-7/page-1" class="ft-page slide-head slide-title" data-id="page-26">
      <h1>Angular 2 <strong>Forms</strong></h1>
    </div>

    <!-- 7/2 -->
    <div id="/section-7/page-2" class="ft-page slide" data-id="page-27">
      <a href="https://angular.io/docs/js/latest/api/forms/ControlDirective-class.html" target="_blank">
        <button class="help-btn">?</button>
      </a>

      <h2>Control</h2>
      <label>/main.es6.js</label>
      <pre><code class="language-javascript">
        import {Control, FormDirectives, ControlDirective} from 'angular2/forms';

        @Component({ ... })
        @View({ ...
          directives: [For, If, FormDirectives]
        })
        class TodoApp {
          constructor( ...) {
          ...
            this.newTodo = new Control('');
          }
        }
      </code></pre>
    </div>
    <!-- 7/3 -->
    <div id="/section-7/page-3" class="ft-page slide" data-id="page-28">
      <h2>Control</h2>
      <label>/todos.html</label>
      <pre><code class="language-markup">
        &ltinput [control]="newTodo" (keydown)="addTodo($event)"&gt
      </code></pre>
      <a class="slide-note" href="http://plnkr.co/edit/9YrVQo?p=preview" target="_blank">
        <button class="btn">Demo</button>
      </a>

      <p class="onePointX">ng-model</p>
    </div>
    <div id="/section-7/page-4" class="ft-page slide" data-id="page-30">
      <a href="https://angular.io/docs/js/latest/api/forms/Validators-class.html" target="_blank">
        <button class="help-btn">?</button>
      </a>

      <h2>Validators</h2>

      <label>/main.es6.js</label>
      <pre><code class="language-javascript">
        import {CustomValidators} from 'validators';

        @Component({
          injectables: [TodoStorage, CustomValidators]
        })
        class TodoApp{
          constructor(storage: TodoStorage, custom: CustomValidators) {
            this.newTodo = new Control('', custom.badLanguage);
          }
        }
      </code></pre>
    </div>
    <div id="/section-7/page-5" class="ft-page slide" data-id="page-29">
      <a href="https://ngforms.firebaseapp.com/#/31" target="_blank">
        <button class="help-btn">?</button>
      </a>

      <h2>Custom Validators</h2>

      <label>/validators.es6.js</label>
      <pre><code class="language-javascript">
        export class CustomValidators{
          // c: Control
          badLanguage(c) {
            // 18dogbaby = bad language in Korean
            if(c.value.match(/18dogbaby/)) {
              return {
                badLanguage: true
              };
            }
          // return null = valid
          return null;
          }
        }
      </code></pre>
      <a class="slide-note" href="http://plnkr.co/edit/kb4B3N?p=preview" target="_blank">
        <button class="btn">Demo</button>
      </a>

    </div>
    <div id="/section-7/page-6" class="ft-page slide" data-id="page-31">
      <h2>Validators</h2>
      <label>/todos.html</label>
      <pre><code class="language-markup">
        &ltform id="todo-form" [class.invalid]="!newTodo.valid"&gt
      </code></pre>
      <p>Valid, Pristine, Dirty</p>
      <br>
      <br>

    </div>
    <div id="/section-7/page-7" class="ft-page slide" data-id="page-32">
      <a href="https://ngforms.firebaseapp.com/#/" target="_blank">
        <button class="help-btn">?</button>
      </a>

      <h2>Complex Forms:</h2>
      <h3><a href="https://angular.io/docs/js/latest/api/forms/ControlGroupDirective-class.html" target="_blank">ControlGroup</a> | <a href="https://angular.io/docs/js/latest/api/forms/FormBuilder-class.html" target="_blank">FormBuilder</a></h3>

    </div>
  </div>
  <!-- 8/1 -->
  <div class="ft-section" data-id="section-8">
    <div id="/section-8/page-1" class="ft-page slide-head slide-title" data-id="page-33">
      <a href="https://github.com/ShMcK/ng2Challenges" target="_blank"><h1 style="display: inline-block"><strong
          style="font-size: 0.93em">NG2</strong>Ch
        <img style="display: inline-block; margin: 30px -15px -30px -15px" height="120px" width="83px"
             src="img/angular-shield.png"/>
        llenges
      </h1></a>
    </div>
    <!-- 8/2 -->
    <div id="/section-8/page-2" class="ft-page slide slide-title" data-id="page-34">
      <a href="https://github.com/ShMcK/ng2Challenges" target="_blank"><h1 style="display: inline-block"><strong
          style="font-size: 0.93em">NG2</strong>Ch
        <img style="display: inline-block; margin: 30px -15px -30px -15px" height="120px" width="83px"
             src="img/angular-shield.png"/>
        llenges
      </h1></a>
      <br>

      <div style="display: flex; justify-content: space-around;">
        <div>
          <h2>Challenge</h2>

          <h2>Demo</h2>

          <h2>Setup</h2>

          <h2>Help</h2>
        </div>
        <div>
          <h2>Solutions</h2>
      <pre><code class="language-markup">

        self rating: ★★★☆☆
        link
        version
        data & @name
        comments
      </code></pre>
        </div>
      </div>
    </div>
    <!-- 8/3 -->
    <div id="/section-8/page-3" class="ft-page slide slide-title" data-id="page-35">
      <a href="https://github.com/ShMcK/ng2Challenges" target="_blank"><h1 style="display: inline-block"><strong
          style="font-size: 0.93em">NG2</strong>Ch
        <img style="display: inline-block; margin: 30px -15px -30px -15px" height="120px" width="83px"
             src="img/angular-shield.png"/>
        llenges
      </h1></a>
      <br>

      <div style="display: flex; justify-content: space-around;">
        <div>
          <img src="img/numeric-1-box-outline.png" class="img-centered"/>

          <h2>Beginner</h2>
          <ul>
            <li><a href="https://github.com/ShMcK/ng2Challenges/wiki/TweetBox" target="_blank">TweetBox</a></li>
            <li><a href="https://github.com/ShMcK/ng2Challenges/wiki/Star-Rater" target="_blank">Star Rater</a></li>
            <li><a href="https://github.com/ShMcK/ng2Challenges/wiki/Tabs" target="_blank">Tabs</a></li>
            <li>Suggestion?</li>
          </ul>
        </div>

        <div>
          <img src="img/numeric-2-box-outline.png" class="img-centered"/>

          <h2>High Beginner</h2>
          <ul>
            <li><a href="https://github.com/ShMcK/ng2Challenges/wiki/Login-Form" target="_blank">Login Form</a></li>
            <li><a href="https://github.com/ShMcK/ng2Challenges/wiki/Search-Filter" target="_blank">Search Filter</a>
            </li>
            <li>Suggestion?</li>
          </ul>
        </div>

        <div>
          <img src="img/numeric-3-box-outline.png" class="img-centered"/>

          <h2>Intermediate</h2>
          <ul>
            <li><a href="https://github.com/ShMcK/ng2Challenges/wiki/TodoMVC" target="_blank">Todo MVC</a></li>
            <li><a href="https://github.com/ShMcK/ng2Challenges/wiki/Chat" target="_blank">Chat</a></li>
            <li><a href="https://github.com/ShMcK/ng2Challenges/wiki/Family-Tree" target="_blank">Family Tree</a></li>
            <li>Suggestion?</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="ft-section" data-id="section-9">
    <div id="/section-10/page-1" class="ft-page slide" data-id="page-36">
      <h2><strong>Resources</strong></h2>
      <ul>
        <li>
          <h3>ES6</h3>

          <div style="margin-left: 30px;">
            <p><a href="http://tagtree.io/courses/expert-es6/do" target="_blank">Learn ES6 - the Game</a></p>

            <p><a href="https://github.com/michaelbromley/angular-es6" target="_blank">Angular 1.x + ES6</a></p>

            <p><a href="http://martinmicunda.com/2015/02/09/how-to-start-writing-apps-with-es6-angular-1x-and-jspm/"
                  target="_blank">ES6, Angular 1.x & JSPM</a></p>
          </div>
        </li>
        <li>
          <h3>@timjacobi | <a href="https://github.com/timjacobi/angular2-education"
                              target="_blank">Angular2-Education</a></h3>
        </li>
        <li>
          <h3>#Angular2 | <a href="https://github.com/angular/angular" target="_blank">Repo</a> | <a
              href="https://angular.io/docs/js/latest/api/" target="_blank">Preview Docs</a></h3>
        </li>
      </ul>
    </div>
    <div id="/section-10/page-2" class="ft-page slide" data-id="page-36">
      <h2><strong>Learn</strong> More</h2>
      <ul>
        <li>
          <a href="https://angular.github.io/router/" target="_blank">Angular New Router</a>
        </li>
        <li>
          <a href="http://weblogs.asp.net/dwahlin/getting-started-with-typescript-classes-static-types-and-interfaces">TypeScript</a>
        </li>
        <li>
          <a href="http://webpack.github.io/docs/comparison.html" target="_blank">
            Module Loaders
          </a>
        </li>
        <li>
          <a href="http://webcomponents.org/articles/introduction-to-html-imports/" target="_blank">HTML Imports</a>,
          <a href="http://webcomponents.org/articles/introduction-to-template-element/"
             target="_blank">&lttemplate&gt</a>,
          <a href="http://webcomponents.org/articles/introduction-to-shadow-dom/">Shadow DOM</a>
        </li>
        <li>
          <a href="http://busypeoples.github.io/post/thinking-in-components-angular-js/" target="_blank">
            Component Based Architecture
          </a>
        </li>
        <li><a href="http://victorsavkin.com/post/99998937651/building-angular-apps-using-flux-architecture"
               target="_blank">
          Unidirectional Data Flow
        </a>
        </li>
        <li><a href="http://victorsavkin.com/post/110170125256/change-detection-in-angular-2" target="_blank">
          Immutable Data & Observables in Angular 2</a></li>
        <li><a href="http://davidwalsh.name/es6-generators" target="_blank">ES6 Generators</a></li>
      </ul>
    </div>
    <div id="/section-10/page-3" class="ft-page slide" data-id="page-37">
      <h2>Credits</h2>
      <ul>
        <li>
          <h3><a href="https://t.co/YqLauqujJu" target="_blank">ng2Playground</a> & <a href="http://t.co/VeEevfiR4c"
                                                                                       target="_blank">ng2 Plunker</a>
          </h3>

          <p>@pkozlowski_os | Plunkers were based on these.</p>
        </li>
        <li>
          <h3><a href="http://plnkr.co/" target="_blank">Plunker</a></h3>

          <p>Built in Angular!</p>
        </li>
        <li>
          <h3><a href="http://flowtime-js.@marcolago.com/" target="_blank">Flowtime.js</a></h3>

          <p>@marcolago | Fantastic HTML Presentation Framework</p>
        </li>
        <li>
          <h3><a href="http://prismjs.com/" target="_blank">Prism.js</a></h3>

          <p>Code Syntax highlighting</p>
        </li>
      </ul>
    </div>
    <div id="/section-10/page-4" class="ft-page slide" data-id="page-37">
      <img src="img/Mountain-short.jpg" width="100%" height="80%">
        <div style="display: block;">
          <h3>Shawn McKay | <a href="http://shmck.com" target="_blank">Blog</a> | <a href="https://github.com/ShMcK" target="_blank">Github</a> | <a href="https://twitter.com/Sh_McK" class="twitter-follow-button" data-show-count="false">Follow @Sh_McK</a></h3>
      </div>
    </div>
  </div>
</div>

<script src="js/brav1toolbox.js"></script>
<script src="js/flowtime.js"></script>
<script src="assets/js/prism.js"></script>
<script src="assets/js/highlight.pack.js"></script>

<script type="text/javascript">
  // Configuration API test
  Flowtime.showProgress(true);
  // Flowtime.fragmentsOnSide(true);
  // Flowtime.fragmentsOnBack(true);
  // Flowtime.useHistory(false);
  // Flowtime.slideInPx(true);
  // Flowtime.sectionsSlideToTop(true);
  // Flowtime.gridNavigation(false);
  // Flowtime.useOverviewVariant(true);
  Flowtime.parallaxInPx(true);
  //
  // event management
  // Flowtime.addEventListener("flowtimenavigation", onNavigation, false);
  Flowtime.onNavigation(onNavigation);
  function onNavigation(e) {
    // console.log(cacheTitle + ' > ' + document.title.replace("Flowtime.js | ", ""));
    //console.log('section', e.section, 'sectionIndex', e.sectionIndex);
    //console.log('page', e.page, 'pageIndex', e.);
    //console.log('pastSectionIndex', e.pastSectionIndex, 'pastPageIndex', e.pastPageIndex);
    //console.log('prevSection', e.prevSection);
    //console.log('nextSection', e.nextSection);
    //console.log('prevPage', e.prevPage);
    //console.log('nextPage', e.nextPage);
    //console.log('fragment', e.fragment, + 'fragmentIndex', e.fragmentIndex);
    //console.log("isOverview", e.isOverview);
    //console.log('progress:', e.progress, 'total:', e.total);
    // var value = Math.round(e.progress * 100 / e.total);
    // console.log('Completion: ' + value + '%');
  }
  // starts the application with configuration options
  Flowtime.start();
</script>
<script>
  (function (i, s, o, g, r, a, m) {
    i['GoogleAnalyticsObject'] = r;
    i[r] = i[r] || function () {
          (i[r].q = i[r].q || []).push(arguments)
        }, i[r].l = 1 * new Date();
    a = s.createElement(o),
        m = s.getElementsByTagName(o)[0];
    a.async = 1;
    a.src = g;
    m.parentNode.insertBefore(a, m)
  })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');

  ga('create', 'UA-44377274-5', 'auto');
  ga('send', 'pageview');

</script>
<script type="text/javascript" src="http://slidemote.jit.su/slidemote.js#flowtime"></script>

</body>
</html>
